__pycache__/
.vscode
*.zip

config.yaml
check_function_calling.py

modules/*
!modules/tts_server
!modules/tts_server/**

.github
previous core
properties
assets
model

build

vts_token.txt
*.env
.env
.venv

utils/diagnose_audio.py

NOTES.txt

test_memory/*
test_brain.py
test_report.md
test_output/*

logs
test_lipsync.py

release/*

plans

*.monika_key

learning

.webui_secret_key
core/vision/__main__.py
